.container {
  display: flex;
  height: calc(100vh - 70px);
}

.chat-list {
  width: 40%;
  margin: 16px;
  background: white;
}

.messages {
  width: 60%;
  margin: 16px;
  border-radius: 16px;
  padding: 24px;
  background: white;
}

.search-input {
  display: block;
  position: relative;
}

.search-input input {
  width: 100%;
  box-sizing: border-box;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
}

.search-input::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #007bff; /* Change the color as needed */
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.search-input input:focus + ::after {
  transform: scaleX(1);
}


.chat-title {
  display: flex;
  justify-content: space-between;


}

.chat-name {
  font-weight: 500;
}

.chat-date {
  font-size: 0.7rem;
  color: black
}

.message-header {
  display: flex;
  margin-bottom: 8px;
}

.message-header>img {
  border-radius: 50%;
  object-fit: cover;
  margin-right: 16px;
  height: 35px;

}

.message-header>h2 {
  border-radius: 50%;
  object-fit: cover;
  margin-right: 16px;
  height: 35px;

}

.chat-area {
  height: calc(100vh - 270px);
  background: white;
  display: flex;
  flex-direction: column;
}

.input-area {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-area input {
  flex-grow: 1;
  border: none;
  padding: 8px;
  margin-right: 8px;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-area button {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
}

/* Style the button icon */
.input-area button mat-icon {
  font-size: 24px;
  color: #007bff; /* Change the color as needed */
}

.chat-bubble-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;

}

.chat-bubble-container.sender{
  justify-content: flex-end;
}
.chat-bubble-container.sender > .chat-bubble{
  // justify-content: flex-end;
  background-color: white;

}
.chat-bubble {
  background-color: white;
  padding: 8px;
  padding-bottom: 18px;
  padding-left: 8px;
  padding-right: 100px;
  margin-bottom: 16px;
  border-radius: 8px;
  width: fit-content;

  position: relative;
}

.chat-bubble>.chat-date {
  position: absolute;
  bottom: 2px;
  right: 8px;
  font-size: 0.7rem;
  color: pink;
}


@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
  }

  .chat-list, .messages {
    width: 100%;
    margin: 16px 0;
  }

  .messages {
    padding: 16px;
  }
}

@media only screen and (max-width: 600px) {
  .chat-bubble {
    padding-right: 16px; /* Adjust as needed for smaller screens */
  }

  .input-area {
    flex-direction: column;
    align-items: stretch;
  }

  .input-area input {
    margin-bottom: 8px;
  }
}
