<app-header-bar></app-header-bar>
<div class="container">
  <div class="chat-list mat-elevation-z5">
    <div class="search-input">
      <input matInput placeholder="Search Contacts">
    </div>
    <mat-selection-list [multiple]="false">
      <mat-list-option *ngFor="let item of contacts" (click)="selectContact(item)">
        <img [src]="item.avatar" matListItemAvatar>
        <div class="chat-info">
          <p mat-line class="chat-title">
            <span class="chat-name">
              {{item.fullName}}
            </span>
            <span class="chat-date">
              {{item?.lastOnline}}
            </span>
          </p>
        </div>

        <p mat-line>
          <ng-container *ngFor="let item of item?.messages;let last =last">
            <ng-container *ngIf="last">
              <ng-container *ngIf="item.messageType== 'text'">
                {{item?.messageText}}
              </ng-container>
              <ng-container *ngIf="item.messageType== 'photo'">
                Sent A Photo
              </ng-container>

            </ng-container>
          </ng-container>

        </p>
        <mat-divider></mat-divider>
      </mat-list-option>
    </mat-selection-list>
  </div>

  <div class="messages mat-elevation-z5">
    <div class="message-header">
      <img [src]="selectUser?.avatar" alt="">
      <h2>
        {{selectUser?.fullName}}
      </h2>
    </div>
    <mat-divider></mat-divider>
    <div class="chat-area">
      <ng-container *ngFor="let item of selectUser?.messages">
        <div class="chat-bubble-container" [ngClass]="{'sender': item.messageBy === 'other'}">
          <div class="char-bubble">
            <ng-container *ngIf="item.messageBy !== 'other'">
              <img class="rounded-circle" width="40" [src]="selectUser?.avatar">
              <span>{{selectUser?.firstName}}</span>,
            </ng-container>
            <span class="chat-date">
              {{item?.messageDate | date: 'dd/MM/yyyy HH:mm:ss'}}
            </span>
            <div>

              <ng-container *ngIf="item?.messageType === 'text'">
                {{item?.messageText}}
              </ng-container>
              <ng-container *ngIf="item?.messageType === 'photo'">
                <img [src]="item?.messageText" alt="" width="350">
              </ng-container>

            </div>
          </div>
        </div>
      </ng-container>


    </div>

    <div class="input-area">
      <input matInput placeholder="Enter The message">
      <button mat-icon-button matSuffix>
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
</div>
